<a href="https://colab.research.google.com/github/kingmingyu/LinearMath/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello wordl")

#integer
x = 3
print("정수: %01d, %02d, %03d, %04d, %05d" % (x,x,x,x,x))

#float
x = 256.123
print("실수: %.0f, %.1f, %.2f" %(x,x,x))

#string
x = "Hello world"
print("문자열: [%s]" %(x))

Hello wordl
정수: 3, 03, 003, 0003, 00003
실수: 256, 256.1, 256.12
문자열: [Hello world]

In [4]:
contents = ["Regression", "Classifiction", "SVM", "Clustering", "Demension reduction", "NM", "CNN", "AE", "GAN", "RNN"]

for con in contents:
  if con in["Regression", "Classifiction", "SVM", "Clustering", "Demension reduction"]:
    print("%s 은(는) 기계학습 내용입니다." %con)
  elif con in ["CNN"]:
    print("%s 은(는) convolutional neural network 입니다." %con)
  else:
    print("%s 은(는) 심층학습 내용입니다." %con)

Regression 은(는) 기계학습 내용입니다.
Classifiction 은(는) 기계학습 내용입니다.
SVM 은(는) 기계학습 내용입니다.
Clustering 은(는) 기계학습 내용입니다.
Demension reduction 은(는) 기계학습 내용입니다.
NM 은(는) 심층학습 내용입니다.
CNN 은(는) convolutional neural network 입니다.
AE 은(는) 심층학습 내용입니다.
GAN 은(는) 심층학습 내용입니다.
RNN 은(는) 심층학습 내용입니다.

In [6]:
for (i, con) in enumerate(contents):
  print("[%d/%d]: %s" %(i, len(contents), con))

[0/10]: Regression
[1/10]: Classifiction
[2/10]: SVM
[3/10]: Clustering
[4/10]: Demension reduction
[5/10]: NM
[6/10]: CNN
[7/10]: AE
[8/10]: GAN
[9/10]: RNN

In [8]:
def sum(a, b):
  return a+b

x = 10.0
y = 20.0
print("%.1f + %.1f = %.1f" %(x, y, sum(x, y)))

10.0 + 20.0 = 30.0

In [9]:
a = []
b = [1,2,3]
c = ["Hello", ",",  "world"]
d = [1,2,3,"x","y","z"]
x=[]
print(x)

x.append('a')
print(x)

x.append(123)
print(x)

x.append(["a", "b"])
print(x)

[]
['a']
['a', 123]
['a', 123, ['a', 'b']]

In [10]:
dic = dict()
dic["name"]="Daesik"
dic["town"] = "Yongin city"
dic["job"] = "Assistant professor"
print(dic)

{'name': 'Daesik', 'town': 'Yongin city', 'job': 'Assistant professor'}

In [11]:
class Student:
  #생성자
  def __init__(self, name):
    self.name = name
  #매써드
  def study(self, hard=False):
    if hard:
      print("%s 학생은 열심히 공부중입니다." %self.name)
    else:
      print("%s 학생은 공부합니다." %self.name)

s = Student("Daesik")
s.study()
s.study(hard=True)

Daesik 학생은 공부합니다.
Daesik 학생은 열심히 공부중입니다.

In [17]:
import numpy as np

def print_val(x):
  print("Type:", type(x))
  print("Shape:", x.shape)
  print("값:\n", x)
  print(" ")

In [18]:
x = np.array([1,2,3])
print_val(x)

x[0] = 5
print_val(x)

Type: <class 'numpy.ndarray'>
Shape: (3,)
값:
 [1 2 3]

Type: <class 'numpy.ndarray'>
Shape: (3,)
값:
 [5 2 3]

In [19]:
a = np.random.random((4,4))
print_val(a)

Type: <class 'numpy.ndarray'>
Shape: (4, 4)
값:
 [[0.12450653 0.11840245 0.02457349 0.31634781]
 [0.95265546 0.57015574 0.57785952 0.58909064]
 [0.11819516 0.68496275 0.1853819  0.06996562]
 [0.16354449 0.06922718 0.11104086 0.41889688]]

In [20]:
a = np.random.randn(4,4)
print_val(a)

Type: <class 'numpy.ndarray'>
Shape: (4, 4)
값:
 [[-0.9496641  -1.69057544 -0.43184604  1.61857407]
 [ 0.86991383  0.36045937 -0.26722989  0.46004829]
 [-1.15824232  0.2629605   0.58296476  0.10050802]
 [ 0.79243307 -1.28985007  0.73863563  0.08596794]]

In [21]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print_val(a)

Type: <class 'numpy.ndarray'>
Shape: (3, 4)
값:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [22]:
b = a[:2, 1:3]
print_val(b)

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[2 3]
 [6 7]]

In [23]:
row1 = a[1, :]
print_val(row1)

Type: <class 'numpy.ndarray'>
Shape: (4,)
값:
 [5 6 7 8]

In [24]:
m1 = np.array([[1,2], [3,4]], dtype=np.float64)
m2 = np.array([[5,6], [7,8]], dtype=np.float64)

In [25]:
#elementwise sum
print_val(m1 + m2)
print_val(np.add(m1, m2))

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[ 6.  8.]
 [10. 12.]]

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[ 6.  8.]
 [10. 12.]]

In [26]:
#elementwise difference
print_val(m1 - m2)
print_val(np.subtract(m1, m2))

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[-4. -4.]
 [-4. -4.]]

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[-4. -4.]
 [-4. -4.]]

In [27]:
#elementwise difference
print_val(m1 * m2)
print_val(np.multiply(m1, m2))

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[ 5. 12.]
 [21. 32.]]

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[ 5. 12.]
 [21. 32.]]

In [28]:
#elementwise division
print_val(m1/m2)
print_val(np.divide(m1, m2))

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[0.2        0.33333333]
 [0.42857143 0.5       ]]

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[0.2        0.33333333]
 [0.42857143 0.5       ]]

In [30]:
#elementwise square root
print_val(np.sqrt(m1))

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[1.         1.41421356]
 [1.73205081 2.        ]]

In [31]:
m1 = np.array([[1,2], [3,4]])
m2 = np.array([[5,6], [7,8]])
v1 = np.array([9,10])
v2 = np.array([11,12])

print_val(m1)
print_val(m2)
print_val(v1)
print_val(v2)

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[1 2]
 [3 4]]

Type: <class 'numpy.ndarray'>
Shape: (2, 2)
값:
 [[5 6]
 [7 8]]

Type: <class 'numpy.ndarray'>
Shape: (2,)
값:
 [ 9 10]

Type: <class 'numpy.ndarray'>
Shape: (2,)
값:
 [11 12]